body{
    background-image: url(./countries.jpg);
    background-size: cover;
    background-position: center;
}
h2{
    text-align: center;
    padding: 20px;
    
}
.heading{
    width: 100%;
    height: 50%;
    background-color:cornflowerblue;
}